@media screen and (max-width: 890px) {
  body {
    --sidebar-right-space: 0 85px 0 0.4rem;
  }

  h2 {
    font-size: 25px;
  }

  /* -------- */
  /* LOGIN & SIGNUP */
  /* -------- */

  .user-login-signup-container {
    --user-login-signup-container-gr-row: 1fr 1fr;
    --user-login-signup-container-gr-col: 1fr;
    --user-login-signup-container-gr-gap: 1rem;
    --user-login-and-signup-container-gr-gap: 0.25rem;
    --user-login-signup-container-fieldset-pad: 0.5rem;
  }

  .user-login-signup legend h2 {
    font-size: 16px;
  }
  .user-login-signup label,
  .user-login-signup input,
  .user-login-signup button,
  .user-login-section-message {
    font-size: 10px;
  }
  /* -------- */
  /* HEADER */
  /* -------- */

  header {
    height: 700px;
    --header-right-p-ff-size: 12.5px;
  }

  /* -------- */
  /* SIDEBAR [RIGHT] */
  /* -------- */

  .sidebar-right {
    --sidebar-right-border-px: 2px;
    --sidebar-right-w: 80px;
  }

  .sidebar-right-toggle {
    --sidebar-right-toggle-top: 0.75rem;
    --sidebar-right-toggle-right: 1rem;
    --sidebar-right-toggle-ff-size: 20px;
  }

  /* -------- */
  /* NAVIGATION */
  /* -------- */

  nav {
    --nav-primary-li-padding-right: 0.75rem;
    --nav-primary-li-padding-left: 0.75rem;
    --nav-secondary-ul-width: 140px;

    --nav-position-top: 0;
    --nav-all-text-font-size: 11.5px;
    --nav-primary-width: 125px;
    --nav-secondary-ul-li-height: 30px;

    --nav-public-list-a-ff-size: 20px;
  }

  .primary-list > li:hover {
    --nav-primary-li-padding-right: 1.1rem;
  }

  /* -------- */
  /* SUPPORT */
  /* -------- */

  .support {
    --support-i-ff-size: 20px;
    --support-btn-margin: 0 0.65rem;
  }

  .show-support-window {
    --support-window-pos-right: 5.5rem;
  }

  /* -------- */
  /* FEATURED PRODUCTS */
  /* -------- */

  .product-highlights-container {
    --product-hightlights-padding-right: 1rem;
    --product-hightlights-padding-left: 1rem;
    --product-hightlight-item-max-w: 290px;
  }

  .product-highlights-brands {
    max-width: 890px;
    min-width: 580px;
  }
  /* -------- */

  /* -------- */
  /* FEATURED BRANDS */

  .product-brand {
    --product-brand-head-title-indent: 0px;
    --product-brand-head-title-translate: 30px;

    --head-title-acoustic-ff-size: 35px;
    --head-title-electric-ff-size: 40px;
    --head-title-synth-ff-size: 27.5px;
    --head-title-antique-ff-size: 35px;

    --product-brand-info-div-span-hov-ff-size: 20px;
    --product-brand-info-div-span-top: 0px;
    --product-brand-info-div-span-h: 35px;

    --product-brand-info-disp: none;

    width: 290px;
    height: 100px;
  }
  .product-brand:hover {
    --product-brand-head-title-indent: 0px;
    --product-brand-head-title-translate: 30px;

    --head-title-acoustic-ff-size: 35px;
    --head-title-electric-ff-size: 40px;
    --head-title-synth-ff-size: 27.5px;
    --head-title-antique-ff-size: 35px;

    --product-brand-head-bg-opac: 0.45;

    --product-brand-info-div-span-hov-ff-size: 20px;
    --product-brand-info-div-span-top: 0;
    --product-brand-info-div-span-h: 35px;
  }

  /* -------- */
  /* FEATURED PRODUCTS */

  .products-container {
    --product-width: 290px;

    /* width: 290px; */
    height: 425px;
  }
  .product-container {
    --specification-width: 0.1fr 0.9fr;
    --specification-bottom-right-rad: 0%;
    --specification-position-left: -400px;

    --description-padding-left: 1.75rem;

    --product-model-margin-bottom: 1rem;

    --product-links-des-translate-x: 35px;
    --product-links-spec-translate-x: 485px;
    --product-links-gap: 0.5rem;
  }
  .product-container:hover {
    --specification-width: 0.1fr 0.9fr;
    --specification-bottom-right-rad: 0%;
    --specification-position-left: -400px;

    --description-padding-left: 1.75rem;

    --product-model-margin-bottom: 1rem;

    --product-links-des-translate-x: 55px;
    --product-links-spec-translate-x: 485px;
    --product-links-gap: 0.75rem;
  }
  .product-container > img {
    width: 150px;

    top: 170px;
    left: 20px;
  }

  .product-container .product-links {
    grid-template-columns: auto auto;
  }
  .product-links {
    top: 300px;
    font-size: 10px;
  }
  .product-specification-container .product-links {
    top: 360px;
  }

  .product-description > h4 {
    font-size: 20px;
  }
  .product-description > p {
    padding-left: 8rem;
    font-size: 12.5px;
  }

  /* -------- */
  /* EVENTS */
  /* -------- */

  .event-highlights-container {
    --event-hightlights-padding-left: 1rem;
    --event-hightlights-padding-right: 1rem;

    --event-info-title-ff-size: 20px;

    --event-dates-head-height: 60px;
    --event-dates-head-ff-size: 20px;

    --event-dates-avail-ff-size: 12.5px;
    --event-dates-items-height: 45px;
  }
  .events-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(2, 150px);
    grid-template-areas:
      "event-dates event-dates"
      "main-events main-events"
      "main-events main-events";
  }
  .event-container:hover {
    --event-info-title-ff-size: 22.5px;
    --event-ff-stroke: 0.25px;
  }
  .event-dates-container > ul > li:hover {
    --event-dates-items-ff-size: 14px;
  }

  /* -------- */
  /* AFFILIATED UNIVERSITIES */
  /* -------- */

  .affiliated-universities-container {
    --affiliated-uni-h: 85px 140px;
    --affiliated-img-p-top: 30%;
  }
  .affiliated-universities-logo-container {
    --logo-width: 100px;
    --logo-height: 160px;

    gap: 1.5rem;
  }

  /* -------- */
  /* FOOTER */
  /* -------- */

  .footer-container {
    --footer-padding-right: 0;
    --footer-padding-bot: 1rem;
    --footer-copy-h: 70px;
    --footer-head-paddig-top: 0.75rem;
    --footer-content-item-width: 0.25fr;
    --footer-item-head: 0.2fr;
    --footer-item-content-ff-size: 11px;
    --footer-head-ff-size: 10px;
    --footer-i-ff-size: 20px;
    --footer-logo-ff-size: 20px;
    --footer-logo-sup-ff-size: 10px;
  }
  /* -------- */
  /* FILTER PRODUCTS */
  /* -------- */

  .product-selection-container {
    --product-filter-ff-size: 12px;
  }

  /* -------- */
  /* FILTER */

  .product-selection-content {
    /* grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; */
    --product-selection-content-gr-col: 1fr;
    --product-selection-content-gr-row: auto 1fr;
  }
  .filtered-products-container {
    --product-act-i-h: 60px;
    --product-act-i-w: 60px;
    --product-act-i-pad: 15px;
    --product-act-i-ff-size: 25px;
  }
  .product-filter-container fieldset {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "search search"
      "price price"
      "brands brands"
      "specs specs"
      "reset reset";

    gap: 0;
  }
  .product-search {
    grid-area: search;
  }
  .product-price {
    grid-area: price;
  }
  .product-price-content ul {
    display: grid;
    grid-template-columns: var(--product-price-content-ul-gr-col, 1fr 1fr);
    gap: var(--product-price-content-ul-gr-gap, 2rem);
  }
  .product-brands {
    grid-area: brands;
  }
  .product-specs {
    grid-area: specs;
  }
  .product-filter-reset {
    grid-area: reset;
  }

  /* -------- */
  /* PRODUCT MODEL */
  /* -------- */

  .product-model-container {
    --product-model-gallery-container-gr-col: 0.75fr 0.25fr;
    --product-model-gallery-container-gr-row: 0fr;
    --product-model-gallery-container-gr-row: 60vw;
    --product-model-gallery-container-pad: 0.5rem;
    --product-model-gallery-container--gap: 0.75rem;

    --product-images-container-pad: 0 0.05rem;
    --product-images-container-gr-col: 1fr;
    --product-images-container-gr-row: repeat(
      var(--product-model-gallery-items, 3),
      30%
    );

    --product-images-navi-container-col: 1fr;
    --product-images-navi-container-row: auto auto;
    --product-images-navi-item-pad: 0.25rem 0.75rem;

    --product-navi-left-disp: none;
    --product-navi-up-disp: block;
    --product-navi-right-disp: none;
    --product-navi-down-disp: block;

    --product-model-details-container-pad: 0.75rem;
    --product-model-head-h2-ff-size: 25px;
    --product-model-head-span-ff-size: 17.5px;
    --product-model-act-ff-size: 30px;
    --product-model-act-i-pad: 0.75rem 0;
    --product-model-text-pad: 0.5rem;
    --product-model-text-ff-size: 14px;

    --product-model-modal-image-img-w: 10%;
    --product-model-modal-image-img-h: auto;

    --translate-gallery-items: 0 var(--product-image-item-transX);

    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .product-image-item {
    translate: 0 var(--product-image-item-transX);
  }
  .product-model-modal-image-container {
    --product-model-modal-image-navi-pos-bot: 15%;
    --product-model-modal-image--pad: 0.75rem;
  }
}
