@media screen and (max-width: 650px) {
  /* -------- */
  /* NAVIGATION */
  /* -------- */

  nav {
    --nav-primary-li-padding-right: 0.75rem;
    --nav-primary-li-padding-left: 0.75rem;
  }

  /* -------- */
  /* SUPPORT */
  /* -------- */

  .support {
    --support-i-ff-size: 20px;
  }

  /* -------- */
  /* FEATURED PRODUCTS */
  /* -------- */

  .product-highlights-acoustic {
    max-width: 650px;
  }

  /* -------- */
  /* FOOTER */
  /* -------- */

  .footer-container {
    --footer-content-h: 120px;
    --footer-padding-bot: 0px;
    --footer-copy-h: 70px;
    --footer-item-content-ff-size: 10px;
  }

  /* -------- */
  /* FOOTER */
  /* -------- */

  .product-price-content ul {
    display: grid;
    grid-template-columns: 1fr;

    gap: 2rem;
  }

  /* -------- */
  /* PRODUCTS */
  /* -------- */

  .product-selection-container {
    --product-filter-ff-size: 10px;
    --product-search-btn-w: 30px;
    --product-filter-btn-ff-size: 12px;
  }
  .filtered-products-container {
    --matched-product-w: 180px;
    --matched-product-h: 195px;

    --product-act-pad: 0 2rem;

    --product-act-i-h: 45px;
    --product-act-i-w: 45px;
    --product-act-i-pad: 10px;
    --product-act-i-ff-size: 20px;
  }

  .product-price-content ul {
    gap: 0.25rem;
  }

  .product-name {
    font-size: var(--product-filter-ff-size);
  }

  /* -------- */
  /* PRODUCT MODEL */
  /* -------- */

  .product-model-details-container {
    --product-model-details-container-pad: 0.5rem;
    --product-model-head-h2-ff-size: 20px;
    --product-model-head-span-ff-size: 12.5px;
    --product-model-act-ff-size: 22.5px;
    --product-model-act-i-pad: 0.5rem 0;
    --product-model-act-i-rad: 7.5px;
    --product-model-text-pad: 0.25rem;
    --product-model-text-ff-size: 12px;
  }
}

@media screen and (max-width: 414px) {
  body {
    --sidebar-right-space: 0 70px 0 0.4rem;
  }

  /* -------- */
  /* HEADER */
  /* -------- */

  header {
    --header-logo-ff-size: 25px;
    --header-right-acoustic-ff-size: 22px;
    --header-right-electric-ff-size: 27px;
    --header-right-synth-ff-size: 17px;
    --header-right-antique-ff-size: 21px;

    --header-right-title-ff-size: 25px;
    --header-right-p-ff-size: 10px;
    --header-right-reviews-ff-size: 12.5px;
    --header-right-cite-ff-size: 10px;
  }

  .img-container {
    display: none;
  }

  .header-p {
    line-height: 1.5rem;
  }

  /* -------- */
  /* SIDEBAR [RIGHT] */
  /* -------- */

  .sidebar-right-toggle {
    --sidebar-right-toggle-border-px: 1px;
    --sidebar-right-toggle-top: 1rem;
    --sidebar-right-toggle-right: 0.75rem;
    --sidebar-right-toggle-ff-size: 15px;
  }

  .sidebar-right {
    --sidebar-right-w: 65px;
  }

  /* -------- */
  /* NAVIGATION */
  /* -------- */

  nav {
    --public-list-li-border-px: 1px;
    --nav-public-list-a-ff-size: 15px;
    --public-list-li-padding: 0.6rem;
  }

  /* DIFFERENT UI FOR MOBILES NAVI */

  .primary-list {
    width: calc(100vw - 4.25rem);
    border: 2px solid black;
    border-radius: 0;
    padding: 0;

    display: block;

    position: fixed;
    top: 0rem;
    right: 4.25rem;
  }
  .primary-list .fa-solid {
    rotate: -90deg;
  }
  .primary-list > li {
    height: 60px;
    padding-top: 20px;

    align-content: flex-start;
  }
  .expand-primary-li {
    height: 100px !important;
  }

  .secondary-ul {
    width: calc(calc(100vw - 4.25rem) - 4px);
    border-style: none;
    border-radius: 0px;

    transform: scale(1, var(--nav-secondary-scale, 0));
    transform-origin: top;

    grid-template-rows: repeat(
      var(--grid-row-count),
      var(--nav-secondary-ul-li-height, 50px)
    );

    top: 2.75em;
    right: 0px;
  }
  .show-secondary-list {
    --nav-secondary-scale: 1;
    --nav-secondary-opacity: 1;

    height: auto !important;

    transition: all var(--nav-transition-g);
  }
  .secondary-ul > li {
    width: 100%;
    padding-right: var(--secondary-ul-pad-right, 2rem);
    height: 100%;

    display: grid;
    justify-content: right;
    align-content: center;

    box-shadow: inset 0px 0px 150px 0px
      rgba(0, 0, 0, var(--nav-secondary-ul-li-box-sh-opac, 0.5));

    transition: box-shadow var(--nav-transition-g),
      padding var(--nav-transition-g);
  }

  /* -------- */
  /* SUPPORT */
  /* -------- */

  .support {
    --support-i-ff-size: 12.5px;
    --support-btn-border-px: 1px;
  }

  .show-support-window {
    --support-window-pos-right: 4.5rem;
  }

  /* -------- */
  /* FEATURED PRODUCTS */
  /* -------- */

  .product-description > p {
    padding-left: 8rem;
    font-size: 10px;
  }

  /* -------- */
  /* FEATURED EVENTS */
  /* -------- */

  .event-highlights-container {
    --event-info-title-ff-size: 15px;

    --event-dates-head-ff-size: 15px;
    --event-dates-items-ff-size: 10px;
  }
  .event-container:hover {
    --event-info-title-ff-size: 17.5px;
  }
  .event-dates-container > ul > li:hover {
    --event-dates-items-ff-size: 10px;
  }

  /* -------- */
  /* AFFILIATED UNIVERSITIES */
  /* -------- */

  /* -------- */
  /* FOOTER */
  /* -------- */

  .footer-container {
    --footer-head-paddig-top: 0.75rem;

    --footer-content-h: 0px;
    --footer-head-ff-size: 10px;
    --footer-copyright-ff-size: 5px;

    --footer-head-underline-pos-bottom: 0%;

    grid-template-rows: 60px 160px 50px;
  }

  .footer-content {
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    grid-template-areas:
      "faq contact service"
      "terms privacy stuff"
      "links links links";
    row-gap: 1rem;

    overflow: hidden;
  }
  .footer-links {
    grid-template-rows: repeat(4, 0.25fr);
  }

  .footer-item-content {
    display: none;
  }
  .footer-item-head:hover + .footer-item-content {
    display: none;
  }

  .footer-links {
    grid-template-columns: repeat(4, 0.25fr);
  }
  .product-brands-content ul {
    --product-filter-brand-h: 42px;
  }
}
