body {
  grid-template-rows: 1fr auto;
}
main {
  --product-model-disp: none;

  position: relative;
  top: 0;
  left: 0;

  display: grid;
  align-items: center;
}

/* -------- */
/* PRODUCT MODEL */
/* -------- */

.product-model {
  width: 100vw;
  height: auto;
  padding: var(--sidebar-right-space);

  display: var(--product-model-disp);

  transition: padding 0.5s ease;
}
.product-model-container {
  --product-display-item-transX: 0%;
  --product-image-item-transX: 0%;
  --product-model-gallery-img-gr-gap: 0.5rem;

  max-width: var(--page-max-width-g);
  height: 100%;
  margin: 0 auto;
  padding: 1rem;

  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr;

  overflow: hidden;
}
/* PRODUCT GALLERY */

.product-model-gallery img {
  width: 75%;

  /* object-fit: cover; */
  /* overflow: hidden; */
}

.product-model-gallery {
  display: grid;
  align-content: center;
  overflow: hidden;
}
.product-model-gallery-container {
  width: 100%;
  padding: var(--product-model-gallery-container-pad, 1.5rem);

  display: grid;
  grid-template-columns: var(--product-model-gallery-container-gr-col, auto);
  grid-template-rows: var(
    --product-model-gallery-container-gr-row,
    0.9fr 0.3fr
  );
  gap: var(--product-model-gallery-container--gap, 1.5rem);
}
.product-model-gallery-container * {
  border-radius: 7.5px;
}
.product-main-image {
  --main-other-img-border: 2px solid orange;
}

.product-display-image-container {
  height: 100%;
  border: var(--main-other-img-border);

  display: grid;
  grid-template-columns: repeat(var(--product-model-gallery-items, 3), 100%);
  grid-template-rows: 1fr;

  overflow: hidden;
}
.product-display-image-item {
  padding: 0.25rem;

  display: grid;
  justify-items: center;
  align-items: center;

  translate: var(--product-display-item-transX) 0;

  overflow: hidden;

  transition: translate 0.3s ease;
}
.product-images {
  position: relative;
  top: 0;
  left: 0;
}
.product-images-container {
  height: 100%;
  width: auto;
  padding: var(--product-images-container-pad, 0.75rem 0);

  display: grid;
  grid-template-columns: var(
    --product-images-container-gr-col,
    repeat(var(--product-model-gallery-items, 3), 30%)
  );
  grid-template-rows: var(--product-images-container-gr-row, 1fr);
  gap: var(--product-model-gallery-img-gr-gap);

  overflow: hidden;
}
.product-image-item {
  border: var(--main-other-img-border, 1px solid rgb(118, 118, 118));
  padding: 0.35rem;

  display: grid;
  justify-items: center;
  align-items: center;
  overflow: hidden;

  translate: var(--product-image-item-transX) 0;

  transition: translate 0.3s ease;
}
.product-images-navi-container {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: var(--product-images-navi-container-col, auto auto);
  grid-template-rows: var(--product-images-navi-container-row, 1fr);
  align-content: space-between;
  align-items: center;
  justify-content: space-between;
  justify-items: center;

  font-size: var(--product-images-navi-ff-size, default);
}
.product-images-navi-item-gen,
.product-images-navi-item-tab {
  padding: var(--product-images-navi-item-pad, 0.75rem 0.5rem);
  border-radius: 0;

  box-shadow: inset 100px 100px 0 0 rgb(128, 128, 128, 0.75);

  color: white;
  text-align: center;

  cursor: pointer;
}

.product-images-navi .fa-chevron-left {
  display: var(--product-navi-left-disp, default);
}
.product-images-navi .fa-chevron-up {
  display: var(--product-navi-up-disp, none);
}
.product-images-navi .fa-chevron-right {
  display: var(--product-navi-right-disp, default);
}
.product-images-navi .fa-chevron-down {
  display: var(--product-navi-down-disp, none);
}

/* -------- */
/* PRODUCT DETAILS */

.product-model-details-container {
  height: 100%;
  width: 100%;
  padding: var(--product-model-details-container-pad, 1.5rem);

  display: grid;
  grid-template-rows: repeat(3, auto);
  align-content: space-between;
  gap: 1rem;
}
.product-model-details-container > div {
  display: grid;
  justify-items: center;
  align-items: center;
}

.product-model-head {
  grid-template-columns: auto auto;
}
.product-model-head h2 {
  white-space: nowrap;
  text-decoration: underline;
  font-size: var(--product-model-head-h2-ff-size, 30px);
}
.product-model-head span {
  font-family: "Montserrat", sans-serif;
  font-size: var(--product-model-head-span-ff-size, 20px);
  font-weight: 600;
  text-align: right;
}
.product-model-act {
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 1rem;

  font-size: var(--product-model-act-ff-size, 40px);
}
.product-model-act > * {
  width: 100%;
  padding: var(--product-model-act-i-pad, 1rem 0);
  border-radius: var(--product-model-act-i-rad, 15px);

  background-color: gray;
  color: white;

  text-align: center;

  transition: color 0.5s ease;
}
.product-model-act .fa-cart-plus:hover {
  color: greenyellow;
}
.product-model-act .fa-heart:hover {
  color: red;
}
.product-model-text {
  padding: var(--product-model-text-pad, 1rem);

  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;

  font-family: "Montserrat", sans-serif;
  font-size: var(--product-model-text-ff-size, default);
}
.product-model-text div {
  width: 100%;
}
.product-model-text h3 {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.product-model-spec-set {
  text-align: center;

  display: var(--product-model-spec-set-disp, block);
  grid-template-columns: var(--product-model-spec-set-gr-col);
}
.product-model-spec-set span {
  margin-right: 2vw;
}
.product-model-spec-set span::before {
  content: "> ";
  font-weight: bold;
}

/* -------- */
/* PRODUCT MODEL MODAL */
/* -------- */

.product-model-modal-image {
  --product-model-modal-image-pos-top: -150%;
  width: 100%;
  height: 100%;
  padding: var(--sidebar-right-space);
  padding-bottom: 0.5rem;

  position: absolute;
  top: var(--product-model-modal-image-pos-top);
  left: 0;

  display: var(--product-model-disp);

  z-index: 50;

  transition: padding 0.5s ease, top 0.5s ease;
}
.product-model-modal-image-container {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-style: none solid solid solid;
  border-radius: 0 0 15px 15px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;

  background: white;
}
.product-model-modal-image .fa-solid {
  padding: var(--product-model-modal-image--pad, 1rem);
  border-radius: 5px;
  background-color: rgb(128, 128, 128, 0.5);

  cursor: pointer;
}
.product-model-modal-image .fa-xmark {
  position: absolute;
  top: 1rem;
  left: 1rem;

  color: black;
}
.product-model-modal-image img {
  width: var(--product-model-modal-image-img-w, auto);
  max-width: 80vw;
  height: var(--product-model-modal-image-img-h, 80%);
  object-fit: scale-down;
}
.product-model-modal-image-navi {
  width: 100%;
  position: absolute;
  bottom: var(--product-model-modal-image-navi-pos-bot, 10%);

  color: white;

  text-align: center;
  white-space: nowrap;
}
.product-model-modal-image-navi .fa-solid:first-child {
  margin-right: 1rem;
}
.product-model-modal-image-navi .fa-solid:last-child {
  margin-left: 1rem;
}
