@media screen and (max-width: 1360px) {
  /* -------- */
  /* NAVIGATION */
  /* -------- */

  /* -------- */
  /* SUPPORT */
  /* -------- */

  .support {
    --support-i-ff-size: 22.5px;
  }

  /* -------- */
  /* FEATURED HIGHLIGHTS */
  /* -------- */

  .product-highlights-brands {
    --item-width: 550px;

    max-width: 1360px;
    min-width: 1100px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--item-width), 1fr));
    justify-items: center;
    align-items: center;
    gap: 1rem;
    row-gap: 2.5rem;
  }
  .product-highlights-acoustic,
  .product-highlights-electric,
  .product-highlights-synth,
  .product-highlights-antique {
    max-width: 550px;
    margin: 0;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  /* -------- */
  /* PRODUCT HEAD */

  .product-brand {
    /* --head-title-indent: 0px; */
    --head-title-translate: 20px;

    --info-indent: 150px;
    --info-translate-y: 65px;

    --more-hover-ff-size: 20px;
    --more-padding-top: 0px;
    --more-height: 35px;

    width: 550px;
    height: 100px;
    border-radius: 10px;
  }
  .product-brand:hover {
    --head-title-indent: -200px;
    --head-title-translate: 30px;

    --head-bg-opac: 0.9;

    --info-translate-y: 0px;

    --more-hover-ff-size: 20px;
    --more-padding-top: -5px;
    --more-height: 32.5px;
  }
  .product-brand-info {
    width: 400px;
    float: right;
  }
  .product-brand-info > div {
    grid-template-columns: 0.9fr 0.1fr;
    border-radius: 7.5px 0 0 7.5px;
    font-size: 45px;
  }
  .product-brand-info > div > span {
    height: var(--more-height);
    padding-right: 1rem;
    text-align: right;
  }
  .product-brand-info > div > i {
    padding-top: 0.5rem;

    font-size: 17.5px;
  }
  .product-brand-info > div + div {
    padding: 0.5rem;
  }
  .product-brand-info > div + div > p {
    width: 110%;

    font-size: 10px;
  }

  /* -------- */
  /* PRODUCTS */

  .products-container {
    --product-width: 550px;

    height: 425px;
    border-radius: 10px;
  }

  .product {
    height: 100%;
  }

  .product-container {
    --specification-width: 0.1fr 0.9fr;
    --specification-bottom-right-rad: 0%;
    --specification-position-left: -400px;

    --description-padding-left: 1rem;

    --product-model-margin-bottom: 2.5rem;

    --product-links-des-translate-x: 330px;
    --product-links-spec-translate-x: -75px;
    --product-links-icon-margin-left: 0;
    --product-links-gap: 3.5rem;
    --product-links-icon-ff-size: normal;

    --product-gen-transition-duration: 0.7s ease;

    grid-template-rows: 1fr;

    overflow: hidden;
  }
  .product-container:hover {
    --specification-width: 0.45fr 0.55fr;
    --specification-bottom-right-rad: 50%;
    --specification-position-left: -10px;

    --description-padding-left: 2rem;

    --product-links-des-translate-x: 350px;
    --product-links-spec-translate-x: 337.5px;
    --product-links-icon-margin-left: -10px;
    --product-links-gap: 1rem;
    --product-links-icon-ff-size: 0px;

    --product-model-margin-bottom: 0.5rem;
    --product-gen-transition-duration: 0.4s ease;
  }
  .product-container > img {
    width: 200px;

    top: 300px;
    left: 30px;
  }

  .product-links {
    position: absolute;

    translate: var(--product-links-des-translate-x) 0;
    top: 220px;

    transition: translate var(--product-gen-transition-duration);
  }
  .product-container .product-links {
    display: grid;
    grid-template-rows: auto auto;
    gap: 0.5rem;

    text-align: center;
  }
  .product-specification-container .product-links {
    translate: var(--product-links-spec-translate-x) 0;
    top: 350px;
  }

  .product-navi {
    padding: 0 0.75rem;
  }

  .product-navi-container {
    --product-navi--items: 1;
    grid-template-columns: repeat(var(--product-navi--items), 1fr);
  }
  /* -------- */
  /* EVENTS */
  /* -------- */

  .event-highlights-container {
    --event-dates-items-ff-size: 12.5px;
    --event-dates-avail-ff-size: 15px;
  }
  .event-dates > ul > li:hover {
    --event-dates-items-ff-size: 16.5px;
  }

  /* -------- */
  /* AFFILIATED UNIVERSITIES */
  /* -------- */

  .affiliated-universities {
    max-height: 250px;
  }

  .affiliated-universities-container {
    --affiliated-uni-h: 85px 240px;
    --affiliated-img-p-top: 50%;
  }

  .footer-container {
    --footer-head-ff-size: 12.5px;
    --footer-item-content-ff-size: 13px;
    --footer-logo-ff-size: 40px;
    --footer-logo-sup-ff-size: 16.8px;
  }

  /* -------- */
  /* FOOTER */
  /* -------- */

  .footer-container {
    --footer-copy-h: 30px;
  }
}
