@media screen and (max-width: 890px) {
  body {
    --sidebar-right-space: 0 85px 0 0.4rem;
  }

  h2 {
    font-size: 25px;
  }

  /* -------- */
  /* HEADER */
  /* -------- */

  header {
    height: 700px;
    --header-right-p-ff-size: 12.5px;
  }

  /* -------- */
  /* SIDEBAR [RIGHT] */
  /* -------- */

  .sidebar-right {
    --sidebar-right-border-px: 2px;
    --sidebar-right-w: 80px;
  }

  .sidebar-right-toggle {
    --sidebar-right-toggle-top: 0.75rem;
    --sidebar-right-toggle-right: 1rem;
    --sidebar-right-toggle-ff-size: 20px;
  }

  /* -------- */
  /* NAVIGATION */
  /* -------- */

  nav {
    --nav-primary-li-padding-right: 0.75rem;
    --nav-primary-li-padding-left: 0.75rem;
    --nav-secondary-ul-width: 140px;

    --nav-position-top: 0;
    --nav-all-text-font-size: 11.5px;
    --nav-primary-width: 125px;
    --nav-secondary-ul-li-height: 30px;

    --nav-public-list-a-ff-size: 20px;
  }

  .primary-list > li:hover {
    --nav-primary-li-padding-right: 1.1rem;
  }

  /* -------- */
  /* SUPPORT */
  /* -------- */

  .support {
    --support-i-ff-size: 20px;
    --support-btn-margin: 0 0.65rem;
  }

  .show-support-window {
    --support-window-pos-right: 5.5rem;
  }

  /* -------- */
  /* FEATURED PRODUCTS */
  /* -------- */

  .product-highlights-container {
    --product-hightlights-padding-right: 1rem;
    --product-hightlights-padding-left: 1rem;
  }

  .product-highlights-brands {
    --item-width: 290px;

    max-width: 890px;
    min-width: 580px;
  }
  .product-highlights-acoustic,
  .product-highlights-acoustic,
  .product-highlights-electric,
  .product-highlights-synth,
  .product-highlights-antique {
    max-width: 290px;
  }

  /* -------- */
  /* PRODUCT HEAD */

  .product-brand {
    --head-title-indent: 0px;
    --head-title-translate: 30px;

    --head-title-acoustic-ff-size: 35px;
    --head-title-electric-ff-size: 40px;
    --head-title-synth-ff-size: 27.5px;
    --head-title-antique-ff-size: 35px;

    --more-hover-ff-size: 20px;
    --more-padding-top: 0px;
    --more-height: 35px;

    width: 290px;
    height: 100px;
  }
  .product-brand:hover {
    --head-title-indent: 0px;
    --head-title-translate: 30px;

    --head-title-acoustic-ff-size: 35px;
    --head-title-electric-ff-size: 40px;
    --head-title-synth-ff-size: 27.5px;
    --head-title-antique-ff-size: 35px;

    --head-bg-opac: 0.45;

    --more-hover-ff-size: 20px;
    --more-padding-top: 0;
    --more-height: 35px;
  }
  .product-brand-head {
    text-align: center;
  }

  .product-brand-info {
    display: none;
  }

  /* -------- */
  /* PRODUCTS */

  .products-container {
    --product-width: 290px;

    /* width: 290px; */
    height: 425px;
  }

  /* .product {
    width: var(--width);
  } */

  .product-container {
    --specification-width: 0.1fr 0.9fr;
    --specification-bottom-right-rad: 0%;
    --specification-position-left: -400px;

    --description-padding-left: 1.75rem;

    --product-model-margin-bottom: 1rem;

    --product-links-des-translate-x: 35px;
    --product-links-spec-translate-x: 485px;
    --product-links-gap: 0.5rem;
  }
  .product-container:hover {
    --specification-width: 0.1fr 0.9fr;
    --specification-bottom-right-rad: 0%;
    --specification-position-left: -400px;

    --description-padding-left: 1.75rem;

    --product-model-margin-bottom: 1rem;

    --product-links-des-translate-x: 55px;
    --product-links-spec-translate-x: 485px;
    --product-links-gap: 0.75rem;
  }
  .product-container > img {
    width: 150px;

    top: 170px;
    left: 20px;
  }

  .product-container .product-links {
    grid-template-columns: auto auto;
  }
  .product-links {
    top: 300px;
    font-size: 10px;
  }
  .product-specification-container .product-links {
    top: 360px;
  }

  .product-description > h4 {
    font-size: 20px;
  }
  .product-description > p {
    padding-left: 8rem;
    font-size: 12.5px;
  }

  /* -------- */
  /* EVENTS */
  /* -------- */

  .event-highlights-container {
    --event-hightlights-padding-left: 1rem;
    --event-hightlights-padding-right: 1rem;

    --event-info-title-ff-size: 20px;

    --event-dates-head-height: 60px;
    --event-dates-head-ff-size: 20px;

    --event-dates-avail-ff-size: 12.5px;
    --event-dates-items-height: 45px;
  }

  .events-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(2, 150px);
    grid-template-areas:
      "event-dates event-dates"
      "main-events main-events"
      "main-events main-events";
  }

  .event-container:hover {
    --event-info-title-ff-size: 22.5px;
    --event-ff-stroke: 0.25px;
  }

  .event-dates-container > ul > li:hover {
    --event-dates-items-ff-size: 14px;
  }

  /* -------- */
  /* AFFILIATED UNIVERSITIES */
  /* -------- */

  .affiliated-universities-container {
    --affiliated-uni-h: 85px 140px;
    --affiliated-img-p-top: 30%;
  }
  .affiliated-universities-logo-container {
    --logo-width: 100px;
    --logo-height: 160px;

    gap: 1.5rem;
  }

  /* -------- */
  /* FOOTER */
  /* -------- */

  .footer-container {
    --footer-padding-right: 0;
    --footer-padding-bot: 1rem;
    --footer-head-paddig-top: 1.5rem;
    --footer-content-item-width: 0.25fr;
    --footer-item-head: 0.2fr;
    --footer-i-ff-size: 20px;
    --footer-logo-ff-size: 20px;
    --footer-logo-sup-ff-size: 10px;
  }
}
